<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>World Cup Finals Dashboard</title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/keen-dashboards.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/introjs.css')}}" />
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css')}}">
    <link rel="icon" href="{{ url_for ('static', filename='img/favicon.png')}}">
</head>
<body class="application">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand brand" href="">FIFA World Cup Finals Dashboard</a>
                <button class="intro-button" type="submit" autofocus onclick="javascript:introJs().start();">Start Tour!</button>
            </div>
        </div>
    </div>
    <div  id="outer" class="container-fluid">
        <div class="row">

            <div class="col-xs-12">
                <div class="row">
                    <!-- Intro Text -->
                    <div class="col-xs-12">
                        <div class="intro-section">
                            Welcome to my FIFA World Cup Finals statistics hub! With the 21st football World Cup taking place this summer I thought it would be a good idea to create an overview of the most interesting stats spanning the entire history of this iconic competition up to 2014. The top two charts below will interact with each other when you click on a particular segment of either one. The Tournament filter will allow you to see total goals scored for a particular year. Give it a try!
                        </div>
                    </div>
                    <!-- Intro Text -->
                </div>
            </div>

            <div class="col-xs-12">
                <div class="row">
                    <!-- Time Line -->
                    <div class="col-xs-12 col-md-8">
                        <div class="chart-wrapper" data-step="1" data-intro="Shows total goals scored in each and every FIFA Finals tournament up to 2014. Select a particular year to see a breakdown of goals scored by country in that tournament." data-position="right">
                            <div class="chart-title">
                                Goals in all World Cup Finals
                            </div>
                            <div class="chart-stage scrolling">
                                <div id="time-chart"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Time Line -->
                    <!-- Pie Chart -->
                    <div class="col-xs-12 col-md-4">
                        <div class="chart-wrapper" data-step="2" data-intro="Shows the overall goals scored in the history of the competition sorted by country. Select a country to see how many goals that national team scored in each year they participated." data-position="left">
                            <div class="chart-title">
                                Total World Cup Finals goals by country (for the year selected)
                            </div>
                            <div class="chart-stage scrolling">
                                <div id="pie-chart"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Pie Chart -->
                </div>
            </div>

            <div class="col-xs-12">
                <div class="row">
                    <!-- Row Chart -->
                    <div class="col-xs-12 col-md-4">
                        <div class="chart-wrapper" data-step="3" data-intro="Shows all the countries that have won the World Cup at least once." data-position="right">
                            <div class="chart-title">
                                All tournament winners
                            </div>
                            <div class="chart-stage scrolling">
                                <div id="winners-row-chart"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Row Chart -->
                    <!-- Pie Chart 2 -->
                    <div class="col-xs-12 col-md-4">
                        <div class="chart-wrapper" data-step="4" data-intro="Shows all the countries that have finished the tournament as a runner-up at least once." data-position="right">
                            <div class="chart-title">
                                All tournament runners-up
                            </div>
                            <div class="chart-stage scrolling">
                                <div id="runners-up-chart"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Pie Chart 2 -->
                    <!-- Container for the final two boxes -->
                    <div class="col-xs-12 col-md-2">
                        <div class="row"><!-- To display the final two boxes stacked rather than alongside each other -->
                            <!-- Menu Select -->
                            <div class="col-xs-12"><!-- Added to retain the same horizontal margins relative to other charts -->
                                <div class="chart-wrapper" data-step="5" data-intro="Use the drop-down to view the World Cup Finals goals in the pie chart for the year selected. The number next to each year is the number of teams participating in that tournament." data-position="right">
                                    <div class="chart-title">
                                        Tournament filter
                                    </div>
                                    <div class="chart-stage">
                                        <div id="year-selector"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Menu Select -->
                        </div>
                        <div class="row"><!-- To display the final two boxes stacked rather than alongside each other -->
                            <!-- Goals Display -->
                            <div class="col-xs-12"><!-- Added to retain the same horizontal margins relative to other charts -->
                                <div class="chart-wrapper" data-step="6" data-intro="This shows the number of goals according to user selection, whether by particular year, scored by a particular country or both. By default this shows total goals scored in the history of the competition." data-position="right">
                                    <div class="chart-title">
                                        Total goals scored
                                    </div>
                                    <div class="chart-stage">
                                        <div id="total-goals"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Goals Display -->
                        </div>
                    </div>
                    <!-- Container for the final two boxes -->
                </div>
            </div>

        </div>
    </div>

    <script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
    <script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
    <script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
    <script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
    <script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
    <script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
    <script src="{{ url_for ('static', filename='lib/js/intro.js')}}"></script>
    <script src="{{ url_for ('static', filename='js/charts.js')}}"></script>
</body>
</html>